@page "/EditStudent/{CurrentID}"
<h3>EditStudent</h3>
<hr />

<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="ID" class="control-label">ID</label>
                <input form="ID" class="form-control" @bind="@student.Id" />
            </div>
            <div class="form-group">
                <label for="FName" class="control-label">First Name</label>
                <input form="FName" class="form-control" @bind="@student.Firstname" />
            </div>
            <div class="form-group">
                <label for="LName" class="control-label">Last Name</label>
                <input form="LName" class="form-control" @bind="@student.Lastname" />
            </div>
            <div class="form-group">
                <label for="designation" class="control-label">Designation</label>
                <input form="Designation" class="form-control" @bind="@student.Age" />
            </div>
            <div class="form-group">
                <label for="Competency" class="control-label">Competency</label>
                <input form="Competency" class="form-control" @bind="@student.Address" />
            </div>


        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn-btn-primary" @onclick="@UpdateStudent" value="UPDATE" />
                <input type="button" class="btn-btn-primary" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>
</form>

@functions
{
    [Parameter]
    public string CurrentID { get; set; }

    Student student = new Student();
    protected override async Task OnInitializedAsync()
    {
        student = _student.GetStudentById(Convert.ToInt32(CurrentID));
    }


    private void UpdateStudent()
    {
        _student.Update(student);
        _navigation.NavigateTo("Student");
    }
    private void Cancel()
    {
        _navigation.NavigateTo("Student");
    }

}
