@using System.Web.Optimization
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Azeem@ToTheNew </title>

    <!-- Bootstrap CSS CDN -->
  

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        @Html.Partial("_sidebar")  @*use of html.partial*@

        <!-- Page Content  -->
        <div id="content">
            @{Html.RenderPartial("_MyNavbar");}
            @RenderSection("RenderName", required: false)
            @RenderBody()

        </div>
    </div>


    @Styles.Render("~/bundle/css") @*This is the use of bundles I have created in the Bundle Config.*@
    @Scripts.Render("~/bundle/script")
   
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
</body>

</html>