<nav id="sidebar">
    <div class="sidebar-header">
        <h3>To The New</h3>
    </div>

    <ul class="list-unstyled components">
        <p>MENU</p>
        <li class="active">

            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Student</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    @*<a href='@Url.Action("Form","Employee")'> Fill the Form </a>*@
                    @Html.ActionLink("Fill The Form", "Form", "Home")
                </li>
                <li>
                    <a href='@Url.Action("GetStudent","Home")'>View the Form</a>
                   
                </li>
            </ul>
        </li>
       
        @*<li>
            @Html.ActionLink("Employees","getemployees","Employee")
        </li>*@
        <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Questions</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a href='@Url.Action("One","Home")'>One</a>
                </li>
                <li>
                    <a href='@Url.Action("Two","Home")'>Two</a>
                </li>
                <li>
                    <a href='@Url.Action("Three","Home")'>Three</a>
                </li>
                <li>
                    <a href='@Url.Action("Four","Home")'>Four</a>
                </li>
                <li>
                    <a href='@Url.Action("Five","Home")'>Five</a>
                </li>
            </ul>
        </li>
        <li>
            <a href='@Url.Action("AboutUs","Home")'>About Us</a>
        </li>
        <li>
            <a href='@Url.Action("ContactUs","Home")'>Contact Us</a>
        </li>
      
    </ul>

   
</nav>

@helper RenderMenu(int id, string menuName)
{
    <li class="active">
        <a href="#homeSubmenu_@id" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">@menuName</a>
        <ul class="collapse list-unstyled" id="homeSubmenu_@id">
            <li>
                <a href="#">Home 1</a>
            </li>
            <li>
                <a href="#">Home 2</a>
            </li>
            <li>
                <a href="#">Home 3</a>
            </li>
        </ul>
    </li>
}